<a href="#" id="hw"></a>
<div style="background: #000;
            color: #FFF;
            margin: 0px;
                padding: 10px 0px 20px 0px;
            text-align: center; 
                ">
    <h1 style="padding: 0px 0px 0px 0px;">Week 15 Lab</h1>
</div>

### By Juan Peralta

# Exercise 1

a) Create a dictionary with fake data and use it to create a dataframe

In [31]:
import pandas as pd

In [32]:
fd = pd.DataFrame(
    {
    "Color": ["blue", "white", "green","blue", "green"],
    "Shape": ["rectangles", "squares", "circles", "squares", "circles"],
    "Font":  ["Arial", "Anaheim", "Sans Serif", "Arial", "Anaheim"],
    "Size":  ["22", "18", "21", "22", "21"]
    }
    )

b)Create a list of values and use it to create a series.

In [33]:
lst = pd.Series([i for i in range(1,10+1)], name="Nums")

lst

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Nums, dtype: int64

c) Using either the dataframe or the series above, output the count, mean and standard deviation of it.

In [34]:
stats = pd.DataFrame(
    { 
    "Count": [lst.count()],
    "Mean": [lst.mean()],
    "StdDev": [lst.std()]
    })
stats

   Count  Mean   StdDev
0     10   5.5  3.02765

# Exercise 2

For the next parts of today's lab we will be using the `grades.csv` file in `/datasets`.

In [35]:
# initial imports

import pandas as pd

df = pd.read_csv("../datasets/grades.csv")

a) Output the first 5 rows of the dataframe

In [36]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

b) Output the last 5 rows of the dataframe

In [37]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

c) What is the shape of this dataframe?

In [38]:
df.shape

(1000, 8)

d) How many columns are there with no values? How much memory does this df use?

In [39]:
# df.describe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

e) Create a new column called "total score" that is the sum of the math, reading and writing score. Output the dataframe

In [40]:
# df.drop(columns=["total score", "total score"])
df["total score"] = df["math score"] + df["reading score"] + df["writing score"]

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

f) Create a new column called "average score" that is the average of the math, reading, and writing scores. Output the dataframe.

In [41]:
df["average score"] = (df['math score'] + df['writing score'] + df['reading score']) / len(df[5:7])

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,109.0
1,female,group C,some college,standard,completed,69,90,88,247,123.5
2,female,group B,master's degree,standard,none,90,95,93,278,139.0
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,74.0
4,male,group C,some college,standard,none,76,78,75,229,114.5

g) What is the average `total score` for each gender? What is the average `avg score` for each gender?

In [42]:
#df["avg_total_socre_sex"] = df.groupby("gender")["total score"].mean()
print("Avg total score for each gender",'\n',df.groupby("gender")["total score"].mean(), '\n')
print("Avg score for each gender",'\n', df.groupby("gender")["average score"].mean())

Avg total score for each gender
 gender
female    208.708494
male      197.512448
Name: total score, dtype: float64

Avg score for each gender
 gender
female    104.354247
male       98.756224
Name: average score, dtype: float64

h) What is the average math score for each category of lunch? What about reading, writing, total and avg score

In [43]:
df.groupby("lunch")["math score", "reading score", "writing score", "total score", "average score"].mean()

,math score,reading score,writing score,total score,average score
lunch,,,,,
free/reduced,58.921127,64.653521,63.022535,186.597183,93.298592
standard,70.034109,71.654264,70.823256,212.511628,106.255814

In [44]:
df[["lunch", "math score","reading score", "writing score", "total score", "average score"]].groupby("lunch").mean()

,math score,reading score,writing score,total score,average score
lunch,,,,,
free/reduced,58.921127,64.653521,63.022535,186.597183,93.298592
standard,70.034109,71.654264,70.823256,212.511628,106.255814

i) What is the descriptive statistics for each category of `parental level of education`? What about reading, writing, total and avg score

In [45]:

df.groupby("parental level of education")["reading score", "writing score", "total score", "average score"].describe()

                            reading score                                    \
                                    count       mean        std   min   25%
parental level of education
associate's degree                  222.0  70.927928  13.868948  31.0  61.0
bachelor's degree                   118.0  73.000000  14.285250  41.0  63.0
high school                         196.0  64.704082  14.132130  24.0  54.0
master's degree                      59.0  75.372881  13.775163  42.0  65.5
some college                        226.0  69.460177  14.057049  23.0  60.0
some high school                    179.0  66.938547  15.479295  17.0  56.5

                                                writing score             ...  \
                              50%    75%    max         count       mean  ...
parental level of education                                               ...
associate's degree           72.5  81.00  100.0         222.0  69.896396  ...
bachelor's degree            73.0  82.75  100.0         118.0  73.381356  ...
high school                  66.0  74.25   99.0         196.0  62.448980  ...
master's degree              76.0  84.50  100.0          59.0  75.677966  ...
some college                 70.5  79.75  100.0         226.0  68.840708  ...
some high school             67.0  79.00  100.0         179.0  64.888268  ...

                            total score        average score              \
                                    75%    max         count        mean
parental level of education
associate's degree                237.0  300.0         222.0  104.353604
bachelor's degree                 242.0  300.0         118.0  107.885593
high school                       218.0  287.0         196.0   94.645408
master's degree                   256.5  293.0          59.0  110.398305
some college                      234.0  297.0         226.0  102.714602
some high school                  229.5  297.0         179.0   97.662011


                                   std   min     25%     50%     75%    max
parental level of education
associate's degree           20.506372  47.5  88.000  104.50  118.50  150.0
bachelor's degree            20.919914  58.5  96.125  106.75  121.00  150.0
high school                  20.265875  27.5  80.875   97.50  109.00  143.5
master's degree              20.401525  67.0  94.750  110.00  128.25  146.5
some college                 20.566460  35.0  90.000  103.00  117.00  148.5
some high school             22.476117  13.5  83.500  100.00  114.75  148.5

[6 rows x 32 columns]

j) What are the average scores (for all score columns) for each category of `test preparation course`?

In [58]:

df.groupby("test preparation course")["math score", "reading score", "writing score", "total score", "average score"].mean()

,math score,reading score,writing score,total score,average score
test preparation course,,,,,
completed,69.695531,73.893855,74.418994,218.008380,109.004190
none,64.077882,66.534268,64.504673,195.116822,97.558411

k) Output only the score columns

In [47]:
df.iloc[:, 5:]

     math score  reading score  writing score  total score  average score
0            72             72             74          218          109.0
1            69             90             88          247          123.5
2            90             95             93          278          139.0
3            47             57             44          148           74.0
4            76             78             75          229          114.5
..          ...            ...            ...          ...            ...
995          88             99             95          282          141.0
996          62             55             55          172           86.0
997          59             71             65          195           97.5
998          68             78             77          223          111.5
999          77             86             86          249          124.5

[1000 rows x 5 columns]

l) What rows have `avg scores` lower than 80? What percent of the total is that? (try to calculate the last part programmatically)

In [80]:
avg_score_lower_80 = df.loc[df["average score"] < 80]

total_percent_80 = (avg_score_lower_80.shape[0] / df.shape[0]) * 100
print(avg_score_lower_80.shape[0], "rows with avg scores lower than 80")
print(total_percent_80, "percent of the total with 80%")

160 rows with avg scores lower than 80
16.0 percent of the total with 80%

m) What are the `avg score`, `gender` and `lunch` columns for all students with avg scores above 90. Sort it in descending order by `avg score`. Store it to a new dataframe and then output the new dataframe.

In [49]:
avg_score_gender_lunch_over_90 = df.loc[df["average score"] > 90, ["average score", "gender", "lunch"]]

new_df = avg_score_gender_lunch_over_90.sort_values(by=["average score"], ascending=False).head(10)

# new_df[["average score", "gender", "lunch"]]

new_df

     average score  gender         lunch
458          150.0  female      standard
962          150.0  female      standard
916          150.0    male      standard
114          149.5  female      standard
712          148.5  female      standard
179          148.5  female      standard
165          148.0  female      standard
625          148.0    male      standard
149          146.5    male  free/reduced
903          146.5  female  free/reduced

m) How many rows are in the new dataframe? What percent of the new dataframe are female? What percent receive free/reduced lunch?

In [83]:
female_newdf = new_df[(new_df["gender"] == "female")]

female_newdf_reduced_lunch = new_df[(new_df["gender"] == "female") & (new_df["lunch"] == "free/reduced") ]

female_percent = (female_newdf.shape[0] / new_df.shape[0]) * 100

female_rdc_lunch = (female_newdf_reduced_lunch.shape[0] / new_df.shape[0]) * 100

print(female_newdf_reduced_lunch.iloc[:,3:])

print(new_df.shape[0],"rows of new data frame")

     female percent  female reduced lunch %
903            70.0                    10.0
10 rows of new data frame

n) Using the original dataframe, what is the `avg score` for each of the `gender`, `lunch` and `parental education level` column combinations?

In [87]:
df.groupby(["gender","lunch","parental level of education"])["average score"].mean()

gender  lunch         parental level of education
female  free/reduced  associate's degree              98.861111
                      bachelor's degree              106.590909
                      high school                     87.608108
                      master's degree                101.000000
                      some college                    98.068182
                      some high school                84.638889
        standard      associate's degree             110.206250
                      bachelor's degree              114.914634
                      high school                    103.298246
                      master's degree                116.500000
                      some college                   111.520270
                      some high school               107.318182
male    free/reduced  associate's degree              97.512195
                      bachelor's degree               94.568182
                      high school                     84.333333
                      master's degree                100.200000
                      some college                    89.914286
                      some high school                87.560000
        standard      associate's degree             104.507692
                      bachelor's degree              108.893939
                      high school                     96.202899
                      master's degree                118.038462
                      some college                   102.726027
                      some high school               100.682540
Name: average score, dtype: float64

o) Sort the original dataframe by `gender` and `lunch` in descending order

In [51]:
df.sort_values(by=["gender", "lunch"], ascending=False).head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average score
4,male,group C,some college,standard,none,76,78,75,229,114.5
10,male,group C,associate's degree,standard,none,58,54,52,164,82.0
11,male,group D,associate's degree,standard,none,40,52,43,135,67.5
13,male,group A,some college,standard,completed,78,72,70,220,110.0
16,male,group C,high school,standard,none,88,89,86,263,131.5

p) Based on your exercises above, what sort of inferences can you make so far? What would you want to look further into? What factor seems to affect `avg` score the most? Explain your answer.

I want to keep diggin more into data cleaning and make better understanding on how to use to run some statistical analysis. So far, there is not much inference I can make because that is just the mean. 

But is a base start to run other analyzis like linear regression testing.  

I think what may be affecting the mean the most is the gender.